---
import "../../styles/lightbox.css";
import FooterLayout from "../../layouts/FooterLayout.astro";
import BrandTag from "../../layouts/BrandTag.astro";
import NavBar from "../../layouts/NavBar.astro";
import ThemeToggle from "../../layouts/ThemeToggle.astro";
import "../../styles/page-load.css";


function slugify(text) {
    return text.toString().toLowerCase()
        .replace(/\s+/g, '-')           // Replace spaces with -
        .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
        .replace(/\-\-+/g, '-')         // Replace multiple -s with single -
        .replace(/^-+/, '')             // Trim - from start of text
        .replace(/-+$/, '');            // Trim - from end of text
}

---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="description"
            content="Explore Hunter's stunning world of photography, showcasing the beauty of Nairobi, Kenya, and beyond. Through his lens, experience the vibrant landscapes, unforgettable wildlife, and compelling moments captured meticulously by this acclaimed local photographer."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Candid | Hunter</title>
    <link
            rel="icon"
            type="image/svg+xml"
            href="/assets/icons/hunter-logo.svg"
    />
    <link rel="manifest" href="/manifest.json"/>
</head>
<body>
<ThemeToggle/>
<BrandTag/>
<NavBar/>
<main>
    <div class="title-wrapper"><h1>Candid</h1></div>
    <div class="work-projects-container">
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc00206"><img src="../assets/candid/DSC00206.webp"
                                                                          alt="DSC00206" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC00206</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc00206">
                <div class="modal-header">
                    <div class="title">DSC00206</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC00206.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay" class=""></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc00313"><img src="../assets/candid/DSC00313.webp"
                                                                          alt="DSC00313" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC00313</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc00313">
                <div class="modal-header">
                    <div class="title">DSC00313</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC00313.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc00863"><img src="../assets/candid/DSC00863.webp"
                                                                          alt="DSC00863" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC00863</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc00863">
                <div class="modal-header">
                    <div class="title">DSC00863</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC00863.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc08138"><img src="../assets/candid/DSC08138.webp"
                                                                          alt="DSC08138" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC08138</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc08138">
                <div class="modal-header">
                    <div class="title">DSC08138</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC08138.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc08139"><img src="../assets/candid/DSC08139.webp"
                                                                          alt="DSC08139" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC08139</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc08139">
                <div class="modal-header">
                    <div class="title">DSC08139</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC08139.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc08188"><img src="../assets/candid/DSC08188.webp"
                                                                          alt="DSC08188" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC08188</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc08188">
                <div class="modal-header">
                    <div class="title">DSC08188</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC08188.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc08235"><img src="../assets/candid/DSC08235.webp"
                                                                          alt="DSC08235" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC08235</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc08235">
                <div class="modal-header">
                    <div class="title">DSC08235</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC08235.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc08259"><img src="../assets/candid/DSC08259.webp"
                                                                          alt="DSC08259" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC08259</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc08259">
                <div class="modal-header">
                    <div class="title">DSC08259</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC08259.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc08260"><img src="../assets/candid/DSC08260.webp"
                                                                          alt="DSC08260" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC08260</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc08260">
                <div class="modal-header">
                    <div class="title">DSC08260</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC08260.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc08269"><img src="../assets/candid/DSC08269.webp"
                                                                          alt="DSC08269" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC08269</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc08269">
                <div class="modal-header">
                    <div class="title">DSC08269</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC08269.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc09660"><img src="../assets/candid/DSC09660.webp"
                                                                          alt="DSC09660" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC09660</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc09660">
                <div class="modal-header">
                    <div class="title">DSC09660</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC09660.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <div class="project-item">
            <div class="project-modal" data-modal-target="#dsc09924"><img src="../assets/candid/DSC09924.webp"
                                                                          alt="DSC09924" loading="lazy"
                                                                          class="hero-fade">
                <div class="projects-description-wrapper"><p>DSC09924</p>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="100%" height="100%" viewBox="0 0 16 16">
                            <g transform="translate(0, 0)">
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="14.5" y1="1.5" x2="9.5" y2="6.5"
                                      data-color="color-2"></line>
                                <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" x1="6.5" y1="9.5" x2="1.5" y2="14.5"
                                      data-color="color-2"></line>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="8.5,1.5 14.5,1.5 14.5,7.5 "></polyline>
                                <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-miterlimit="10" points="1.5,8.5 1.5,14.5 7.5,14.5 "></polyline>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="modal" id="dsc09924">
                <div class="modal-header">
                    <div class="title">DSC09924</div>
                    <button data-close-button="" class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="project-grid">
                        <div class="content_image-wrapper"><img alt="project image"
                                                                src="../assets/candid/DSC09924.webp"
                                                                class="modal-image hero-fade"></div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
    </div>
</main>
<FooterLayout/>
<script src="../../script/pop-up.js"></script>
</body>
</html>