*,
*::after,
*::before {
    box-sizing: border-box;
}

h1 {
    font-size: 8em;
    font-weight: 400;
}

.modal {
    color: hsl(50, 6%, 10%) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(243, 243, 242);
    width: 90%;
    max-width: 95%;
    overflow-y: scroll;
    max-height: 90vh;
}

p {
    color: transparent !important;
}

body.dark p {
    color: transparent !important;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.article-header {
    text-align: center;
    font-size: 7.5vw;
    font-weight: 700;
}

.title-wrapper {
    margin: 0 auto;
    max-width: 90em;
}

.project-company {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 2px solid rgba(0, 0, 0, .23);
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.project-modal {
    cursor: pointer;
    background-position: center;
    border-radius: 0.8em;
}

.work-projects-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    max-width: 90em;
    margin: 4em auto 0;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.8em;
    transition: all 0.4s ease-in-out;
}

.project-modal img:hover {
    transform: scale(0.95);
}

.icon {
    position: relative;
    top: -60px;
    left: -20px;
    width: 35px;
    height: 35px;
    background-color: hsl(2, 90%, 60%);
    border-radius: 0.4em;
    padding: 0.3em;
    transition: all 0.2s ease-in-out;
}

.projects-description-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.close-button {
    padding: 0.3em 0.6em;
    border-radius: 0.4em;
    color: #fff !important;
    background-color: rgb(27, 27, 24) !important;
}

.project-item {
    grid-column: span 3;
    width: 100%;
    color: hsl(50, 6%, 10%);
}

.project-grid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
}

.content_image-wrapper {
    background-color: rgb(144, 144, 140) !important;
    height: fit-content;
    width: fit-content;
    padding: 4%;
    border-radius: 0.8em;
    grid-column: span 12;
    margin: 0 auto;
}

.content_image-wrapper img {
    width: 100%;
    height: auto;
}

.article-body {
    grid-column: span 8;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .project-item {
        grid-column: span 4;
    }
}

@media only screen and (max-width: 768px) {
    .project-item {
        grid-column: span 6;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 4.6em;
    }
    body {
        padding: 0.5em;
    }
    .modal {
        width: 100%;
    }
    .project-item {
        grid-column: span 6;
    }
    .project-grid {
        gap: 2em;
    }
    .article-body {
        grid-column: span 12;
    }
    .content_image-wrapper {
        grid-column: span 12;
    }
}

.title {
    color: transparent !important;
}
@media only screen and (min-width: 768px){
    .modal-image{
        height: 75vh !important;
    }
    .modal {
        width: auto;
    }
}