---
import NavBar from "../components/NavBar.astro";
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oops Error 404</title>
    <link rel="icon"
          type="image/svg+xml"
          href="/assets/icons/hunter-logo.svg">
    <link rel="manifest" href="/manifest.json">
    <style>
        .container {

            width: 90%;
            font-family: 'Satoshi', sans-serif;
        }

        .tenor-gif-embeded {
            display: inline-block;
        }
    </style>
</head>
<body>
<NavBar/>
<div class="container">
    <div class="tenor-gif-embed" data-postid="21180997" data-share-method="host" data-aspect-ratio="1" data-width="50%">
        <a
                href="https://tenor.com/view/sephoirth-awkward-awkward-stare-golozer-ritchie-golozer-gif-21180997">Sephoirth
            Awkward GIF</a>from <a href="https://tenor.com/search/sephoirth-gifs">Sephoirth GIFs</a></div>
</div>

<script type="text/javascript" async src="https://tenor.com/embed.js"></script>

COMING SOON...
</body>
</html>