---
import NavBar from "../../components/NavBar.astro";
import ThemeToggle from "../../layouts/ThemeToggle.astro";
import FooterComponent from "../../components/FooterComponent.astro";
import ExpandIcon from "../../components/svgs/ExpandIcon.astro";
import "../../styles/projectStyles.css"
---

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>Gallery | Hunter</title>
    <link
            rel="icon"
            type="image/svg+xml"
            href="/assets/icons/hunter-logo.svg"
    />

    <style>

    </style>
</head>
<NavBar/>
<ThemeToggle/>
<body>
<div class="container">
    <div class="page-cta-wrapper" style="position: relative; opacity: 0;">
        <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/29.webp?t=2024-10-08T09%3A40%3A25.766Z"
             alt="Cover image" style="height: 100%; width: 100%; object-fit: cover;" class="cover-image">

        <!-- Overlay content -->
        <div class="page-cta"
             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; z-index: 1;">
            <div class="project-name" style="color: white; font-size: 3rem; text-align: center;">
                Isles and Wedding Vows
            </div>
            <div class="cta-button-wrapper" style="margin-top: 20px; text-align: center;">
                <button onclick="window.location.href='#gallery'" class="cta-button">
                    View Gallery
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Overview</h1>
    <div class="spacer-block" style="height: 1em"></div>
    <div class="description-text">
        There’s something truly magical about capturing a wedding—the joy, the emotions, and the intimate moments that make each celebration unique. This particular wedding was no exception. From the very beginning, working with the couple was an absolute delight. Their trust and creative vision allowed us to truly explore the beauty of their special day through the lens.

        The setting was breathtaking, with every detail thoughtfully curated to reflect the couple's love story. From the elegant floral arrangements to the stunning venue, the event was a perfect blend of romance and sophistication. As the day unfolded, we captured not just the big moments—the vows, the first kiss, the first dance—but also the quiet, intimate exchanges between loved ones that make a wedding day so unforgettable.

        For <i>visualsbyhunter</i>, it was a privilege to be part of this once-in-a-lifetime celebration. The energy, the warmth of family and friends, and the sheer beauty of the event made this wedding shoot an experience we’ll never forget. Each frame tells a story of love, connection, and happiness, encapsulating a day that will be cherished for years to come.
    </div>
</div>
<div class="container">
    <div class="title-wrapper" id="gallery">
        <h1>Gallery</h1>
        <div class="spacer-block" style="height: 2em"></div>
    </div>
    <div class="gallery-wrapper">
        <div class="img-wrapper">
            <div class="gallery-item "
                 style="background-image: url('https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/29.webp')">
                <div class="overlay open">
                    <ExpandIcon class="expand-icon"/>
                </div>
            </div>
            <dialog class="modal">
                <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/29.webp"
                     alt=""
                     class="modal-img open" loading="lazy">
            </dialog>
        </div>

        <div class="img-wrapper">
            <div class="gallery-item "
                 style="background-image: url('https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/16.webp')">
                <div class="overlay open">
                    <ExpandIcon class="expand-icon"/>
                </div>
            </div>
            <dialog class="modal">
                <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/16.webp" alt=""
                     class="modal-img open" loading="lazy">
            </dialog>
        </div>

        <div class="img-wrapper">
            <div class="gallery-item "
                 style="background-image: url('https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/22.webp')">
                <div class="overlay open">
                    <ExpandIcon class="expand-icon"/>
                </div>
            </div>
            <dialog class="modal">
                <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/22.webp" alt=""
                     class="modal-img open" loading="lazy">
            </dialog>
        </div>

        <div class="img-wrapper">
            <div class="gallery-item "
                 style="background-image: url('https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/27.webp')">
                <div class="overlay open">
                    <ExpandIcon class="expand-icon"/>
                </div>
            </div>
            <dialog class="modal">
                <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/27.webp" alt=""
                     class="modal-img open" loading="lazy">
            </dialog>
        </div>

        <div class="img-wrapper">
            <div class="gallery-item "
                 style="background-image: url('https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/5.webp')">
                <div class="overlay open">
                    <ExpandIcon class="expand-icon"/>
                </div>
            </div>
            <dialog class="modal">
                <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/5.webp" alt=""
                     class="modal-img open" loading="lazy">
            </dialog>
        </div>

        <div class="img-wrapper">
            <div class="gallery-item "
                 style="background-image: url('https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/15.webp')">
                <div class="overlay open">
                    <ExpandIcon class="expand-icon"/>
                </div>
            </div>
            <dialog class="modal">
                <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/15.webp" alt=""
                     class="modal-img open" loading="lazy">
            </dialog>
        </div>

        <div class="img-wrapper">
            <div class="gallery-item "
                 style="background-image: url('https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/14.webp')">
                <div class="overlay open">
                    <ExpandIcon class="expand-icon"/>
                </div>
            </div>
            <dialog class="modal">
                <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/14.webp" alt=""
                     class="modal-img open" loading="lazy">
            </dialog>
        </div>

        <div class="img-wrapper">
            <div class="gallery-item "
                 style="background-image: url('https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/10.webp')">
                <div class="overlay open">
                    <ExpandIcon class="expand-icon"/>
                </div>
            </div>
            <dialog class="modal">
                <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/10.webp" alt=""
                     class="modal-img open" loading="lazy">
            </dialog>
        </div>

        <div class="img-wrapper">
            <div class="gallery-item "
                 style="background-image: url('https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/24.webp')">
                <div class="overlay open">
                    <ExpandIcon class="expand-icon"/>
                </div>
            </div>
            <dialog class="modal">
                <img src="https://dyvkdbmmzvclydrmokpq.supabase.co/storage/v1/object/public/isles-and-wedding-vows/24.webp" alt=""
                     class="modal-img open" loading="lazy">
            </dialog>
        </div>

    </div>
    <script defer>

    </script>
</div>
<FooterComponent/>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
<script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js" defer></script>
<script src="/src/script/lenisScroll.js" defer></script>
<script src="../../script/cta-Animation.js">
</script>

</body>

</html>
